.progress-cover {
  height: 100%;
  flex-grow: 1;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  /* 
  * animation duration isn't set in stone
  * but 0.7 seems the least abrupt or gradual atm
  */
  animation: fadeIn 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
